* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d9d7d5;
  padding: 1rem;
}

h1 {
  margin: 0;
}

nav {
  margin-top: 1rem;
}

menu {
  background: #d9d7d5;
  padding: 0.25rem;
  overflow-y: scroll;
  white-space: nowrap;
}

span {
  background: #767775;
  color: #ffffff;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.5rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  flex-basis: 100%;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.quotes {
  flex-basis: 100%;
  margin-top: 1rem;
}

.quote {
  background-color: #d9d7d5;
  padding: 1rem;
  margin-bottom: 1rem;
}

cite {
  font-style: italic;
}

footer {
  background-color: #d9d7d5;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 600px) {main {
    flex-wrap: nowrap;
  }

  .videoWrapper {
    flex-basis: 40%;
  }

  .quotes {
    flex-basis: 60%;
  }
}
